.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo {
  margin: 5px;
  width: 100px;
  height: 100px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
